<h1>Choir Cues</h1>
<h2>{{ date }}</h2>

{% if major_commem %}
<h2>{{ major_commem }}</h2>
{% elif fore_after %}
<h2>{{ fore_after }}</h2>
{% endif %}

<p>Tone of the week: {{ tone }}</p>

<h3>1st Antiphon</h3>
<p>
{% if antiphons %}
{% for verse in antiphons[0].verses %}
<br/>V: {{ verse }}
<br/>Ch: {{ antiphons[0].chorus }}
{% endfor %}
{% else %}
<em>Psalm 102</em>
{% endif %}
</p>

<h3>2nd Antiphon</h3>
<p>
{% if antiphons %}
{% for verse in antiphons[1].verses %}
<br/>V: {{ verse }}
<br/>Ch: {{ antiphons[1].chorus }}
{% endfor %}
{% else %}
<em>Psalm 145</em>
{% endif %}
</p>

<h3>3rd Antiphon</h3>
<p>
{% if antiphons %}
{% for verse in antiphons[2].verses %}
<br/>V: {{ verse }}
<br/>Ch: {{ antiphons[2].chorus }}
{% endfor %}
{% else %}
<em>The Beatitudes</em>
{% endif %}
</p>

{% if entrance_hymn %}
<h3>Entrance Hymn</h3>
<p>{{ entrance_hymn }}</p>
{% endif %}